<template name="companyForm">
	<div class="register-container full-height sm-p-t-30">
		<div class="container-sm-height full-height">
			<div class="row row-sm-height">
				<div class="col-sm-12 col-sm-height col-middle">
					<h3>Company Register</h3>
					<form id="company-form" class="p-t-15">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group form-group-default">
									<label>Company Name</label>
									<input type="text" name="name" class="form-control required" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group form-group-default">
									<label>NIF</label>
									<input type="text" name="nif" class="form-control required" pattern="^[A-Z,a-z]{1}[0-9]{7}[A-Z,a-z]{1}$" required>
								</div>
							</div>
						</div>
						<div class="form-group form-group-default">
								<label>Sectors</label>
								<select class="full-width" data-init-plugin="select2" multiple name='sectors'>
									{{#each sectors}}
										<option value={{this}}>{{_ this}}</option>
									{{/each}}
								</select>
							</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>name of the commercial agent</label>
									<input type="text" name="agentName" class="form-control required" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>phone number of the commercial agent</label>
									<input type="phone" name="agentPhone" class="form-control required" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>commercial agent's email</label>
									<input type="email" name="agentEmail" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>schedule</label>
									<input type= "text" name="schedule" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>zip-code</label>
									<input type="text" name="zip" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group form-group-default">
									<label>Logo</label>
									<input type="file" name="file" class="form-control logo-input">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h5><b>Company type:</b></h5>
								<div class="radio radio-info">
									<input type="radio" name='companyType' value='factory' id="factory">
							    <label for="factory"><b>Factory</b></label>

							    <input type="radio" name="companyType" value='distribution' id="distribution">
							    <label for="distribution"><b>Distribution</b></label>

									<input type="radio" name="companyType" value="importer" id="importer">
							    <label for="importer"><b>Importer</b></label>

									<input type="radio" name="companyType" value="representative" id="representative">
							    <label for="representative"><b>Representative</b></label>
								</div>
							</div>
						</div>

						<button class="btn btn-primary btn-cons m-t-10" type="submit">Register company</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
