// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

html{
    font-size: 16px;
    // font-family: 'Roboto Slab', serif;
}
/*-------Fixing Maximum Width--------*/
/*App helpers*/

html, body, #__blaze-root{
    height:100%;
}

.no-shadow{
    box-shadow: none;
}

.text-transform-none{
    text-transform:none;
}

.no-padding{
    padding: 0;
}

.no-margin {
    margin: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width:100%;
}

.brmk-center-container {
    display: table;
    width: 100%;


    .brmk-center {
        display: table-cell;
        vertical-align: middle;
    }
}
