<template name="signIn">

	<div class="login-wrapper">
		<!-- START Login Background Pic Wrapper-->
		<div class="bg-pic">
			<!-- START Background Pic-->
			<img src="/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg"
			     data-src="/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg"
			     data-src-retina="/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt=""
			     class="lazy">
			<!-- END Background Pic-->
			<!-- START Background Caption-->
			<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
				<h2 class="semi-bold text-white">
					Pages make it easy to enjoy what matters the most in the life</h2>

				<p class="small">
					images Displayed are solely for representation purposes only, All work copyright of respective
					owner, otherwise © 2013-2014 REVOX.
				</p>
			</div>
			<!-- END Background Caption-->
		</div>
		<!-- END Login Background Pic Wrapper-->
		<!-- START Login Right Container-->
		<div class="login-container bg-white">
			<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
				<img src="/img/logo.png" alt="logo" data-src="/img/logo.png" data-src-retina="/img/logo_2x.png"
				     width="78" height="22">

				<p class="p-t-35">Sign into your tidy.io account</p>
				<!-- START Login Form -->
				<form id="sign-in-form" class="p-t-15">
					<!-- START Form Control-->
					<div class="form-group form-group-default">
						<label>Email</label>

						<div class="controls">
							<input type="text" name="email" placeholder="Email" class="form-control" required>
						</div>
					</div>
					<!-- END Form Control-->
					<!-- START Form Control-->
					<div class="form-group form-group-default">
						<label>Password</label>

						<div class="controls">
							<input type="password" class="form-control" name="password" placeholder="Credentials"
							       required>
						</div>
					</div>
					
					<button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
				</form>
				<!--END Login Form-->
				<div class="pull-bottom sm-pull-bottom">
					<div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
						<div class="col-sm-3 col-md-2 no-padding">
							<img alt="" class="m-t-5" data-src="/img/demo/pages_icon.png"
							     data-src-retina="/img/demo/pages_icon_2x.png" height="60"
							     src="/img/demo/pages_icon.png" width="60">
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- END Login Right Container-->
	</div>

</template>