@import 'imports/common.less';

.tidyio {
	height:100%;
	width:100%;
	.page-container {
		padding-left: 0;
	}
	.hoverable {
		transition: 300ms;
		cursor: pointer;

		&.bg-master:hover {
			background-color: lighten(#626262, 10%)
		}
	}
}