<template name="roleTile">
	<div class="panel no-border bg-master widget col-sm-8 col-sm-offset-2 hoverable role-tile">
		<!-- <div class="panel-body"> -->
		<h1 class="text-white text-center semi-bold" >{{_ name}}</h1>
		<!-- </div> -->
	</div>
</template>