<template name="home">
	<div class="container-fluid container-fixed-lg">
		<form id='sendEmailsForm'>
			<input type="text" id='emails-input' />
			<button type='submit' class='btn btn-default'>Send</button>
		</form>
			
	</div>
</template>
