<template name='companyPage'>
  {{#if Template.subscriptionsReady}}
    {{#with company}}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="col-sm-2 text-center">
            <img src="{{link}}" style='width:150px; height:150px'/>
            {{#if isCompanyOwner}}
              <a href='/edit-company' class='btn btn-default'>Edit Info</a>
            {{/if}}  
          </div>
          <div class="col-sm-3 text-center">
            <div class="col-sm-12">
              <h1><b>{{name}}</b></h1>
            </div>
            <div class="col-sm-12 company-item">
              Big inspiring shitty slogan
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-12 company-item">
              Agent: {{agentName}}
            </div>
            <div class="col-sm-12 company-item">
              Tel.: {{agentPhone}}
            </div>
            <div class="col-sm-12 company-item">
              Email: {{agentEmail}}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-12 company-item">
              Schedule: {{schedule}}
            </div>
            <div class="col-sm-12 company-item">
              Zip: {{zip}}
            </div>
            <div class="col-sm-12 company-item">
              {{#if pdfLink}}
                <a href="{{pdfLink}}?download=true" download>Pdf Tarifs</a>
              {{/if}}
            </div>
            <div class="col-sm-12 company-item">
              {{#if exelLink}}
                <a href="{{exelLink}}?download=true" download>Exel Tarifs</a>
              {{/if}}
            </div>
            
          </div>
        </div>
      </div>
    {{/with}}
  {{/if}}
</template>
