<template name="userForm">
	<div class="register-container full-height sm-p-t-30">
		<div class="container-sm-height full-height">
			{{#if Template.subscriptionsReady}}
				<div class="row row-sm-height">
					{{#if isTokenValid}}
						<div class="col-sm-12 col-sm-height col-middle">
							{{#if isEditProfile}}
								<h3>Edit Profile</h3>
							{{else}}
								<h3>User Register</h3>
							{{/if}}
							<form id="user-form" class="p-t-15">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group form-group-default">
											<label>First Name</label>
											<input type="text" name="firstName" class="form-control required" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group form-group-default">
											<label>Last Name</label>
											<input type="text" name="lastName" class="form-control required" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group form-group-default">
											<label>Company Name</label>
											<input type="text" name="company" class="form-control required" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group form-group-default">
											<label>Job title</label>
											<input type="text" name="jobTitle" class="form-control" >
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group form-group-default">
											<label>Professional Email</label>
											<input type="email" name="email" class="form-control required" required disabled>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group form-group-default">
											<label>Contact Phone</label>
											<input type="phone" name="phone" class="form-control" >
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group form-group-default">
											<label>Description</label>
											<textarea name="description" class="form-control"> </textarea>
										</div>
									</div>
								</div>
								{{#unless isEditProfile}}
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default">
												<label>Password</label>
												<input type="password" name="password" class="form-control" required>
											</div>
										</div>
									</div>
								{{/unless}}

								<button class="btn btn-primary btn-cons m-t-10" type="submit">
									{{#if isEditProfile}}
										Submit changes
									{{else}}
										Sign up
									{{/if}}
								</button>
							</form>
						</div>
					{{else}}
						<h1>TOKEN EXPIRED</h1>
					{{/if}}
				</div>
			{{/if}}
		</div>
	</div>
</template>
