<template name="header">
    <!-- START HEADER -->
    <div class="header">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
            <div class="pull-center hidden-md hidden-lg">
                <div class="header-inner">
                    <div class="brand inline">
                        <h3>TIDY.IO</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table hidden-xs hidden-sm">
            <div class="header-inner">
                <div class="brand inline">
                    <a href={{pathFor 'home'}}>
                        <h2>TIDY.IO</h2>
                    </a>
                </div>
                <div class="header-link p-l-10 p-r-10 inline">
                    <h4>
                        <a href="/faq">
                            FAQ
                        </a>
                    </h4>
                </div>
                <div class="header-link p-l-10 p-r-10 inline">
                    <h4>
                        <a href="/contact">
                            Contact
                        </a>
                    </h4>
                </div>
                <form class="search-form inline relative">
                    <input type="text" class="form-control search-input" placeholder="Search">
                    <div class="list-group company-list">
                      {{#each companies}}
                        <a href="/company/{{_id}}" class="list-group-item">{{name}}</a>
                      {{/each}}
                    </div>
                </form>
            </div>
        </div>

        {{#with userProfile}}
            <div class="pull-right">
                <!-- START User Info-->
                <div class="visible-lg visible-md m-t-10">
                    <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                        <span class="semi-bold">{{firstName}}</span> <span class="text-master">{{lastName}}</span>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="thumbnail-wrapper d32 circular inline m-t-5">
                            <img src="/img/profiles/avatar.jpg" alt="" data-src="/img/profiles/avatar.jpg" data-src-retina="/img/profiles/avatar_small2x.jpg" width="32" height="32">
                        </span>
                        </button>
                        <ul class="dropdown-menu profile-dropdown" role="menu">
                            <li><a href="/edit-profile"><i class="pg-settings_small"></i>Edit profile</a></li>
                            {{#if hasCompany}}
                                <li><a href="/company/{{companyId}}" class='companypage'><i class="pg-settings_small"></i>Company page</a></li>
                            {{else}}
                                <li><a href="/new-company"><i class="pg-settings_small"></i>Create company</a></li>
                            {{/if}}
                            <li class="bg-master-lighter">
                                <a href="#" class="clearfix logout">
                                    <span class="pull-left">Logout</span>
                                    <span class="pull-right"><i class="pg-power"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
