<template name='contact'>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="col-sm-12">
        <h2 style="margin-left:5px">{{_ "contact"}}</h2>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control contact-name contact-field" placeholder="{{_ 'contact-name'}}">
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control contact-phone contact-field" placeholder="{{_ 'contact-phone'}}">
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control contact-email contact-field" placeholder="{{_ 'contact-email'}}">
      </div>
      <div class="col-sm-12">
        <textarea type="text" class="form-control contact-request contact-field" placeholder="{{_ 'contact-request'}}"></textarea>
      </div>
      <div class="col-sm-12">
        <button class="btn btn-lg pull-right">
          {{_ 'contact-submit'}}
        </button> 
      </div>
    </div>
  </div>
</div>
</template>
