/* HEADER */
#header-logo {
    padding: 2rem 0;
}
#header-logo img {
  display: block;
  margin: 0 auto;
}
/* Footer */
#footer-copyright{
    width: 100%;
    position: absolute;
    color: #979da8;
    font-size: 0.8571rem;
    text-align: center;
    bottom: 0;
    left: 0;
}
.auth-container{
  background-color: #F9F9F9;
  position: relative;
  padding: 3rem 0;
}

.auth-bg-overlay {
    background-color: #fff;
    opacity: 0.2;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
}
.auth-bg {
    /*background-image: url(https://wallpaperscraft.com/image/street_taxi_road_traffic_38263_1920x1080.jpg);*/
    background-size: cover;
    filter: blur(5);
    -webkit-filter: blur(2px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
}

.auth-container {
    display: inline-block;
    /*background-image: url(https://wallpaperscraft.com/image/street_taxi_road_traffic_38263_1920x1080.jpg);*/
    background-size: cover;
    /*position: fixed;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 9999;*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*background-color: transparent;*/
}

form .row {
    margin-bottom: 0;
}