<template name="authLayout">

	<!-- <div class="full-height auth-container brmk-center-container">
		<div class="row no-margin full-width brmk-center">
			
		</div>
	</div> -->
	<div class="tidyio">
		{{> Template.dynamic template=content}}
	</div>

</template>