<template name="roleSelect">
	<div class="container full-height">
        <div class="container-xs-height full-height">
            <div class="row-xs-height">
                <div class="col-xs-height col-middle">
	                <div class="row">
	                	{{#each userRoles}}
	                		<div class="col-sm-6">
								{{>roleTile name=name}}
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>