<!-- GLOBAL LAYOUT -->
<template name="mainLayout">
	<!-- {{>sideBar}} -->
	<!-- START PAGE-CONTAINER -->
	<div class="tidyio">
		<div class="page-container">
			{{>header}}
			<!-- START PAGE CONTENT WRAPPER -->
			<div class="page-content-wrapper">
				<!-- START PAGE CONTENT -->
				<div class="content">
					{{#if Template.subscriptionsReady}}
						{{> Template.dynamic template=content}}
					{{/if}}
				</div>
				{{>footer}}
			</div>
		</div>
	</div>
<!-- 	{{>quickView}}
	{{>overlaySearch}} -->
</template>
